name: Vue Deploy

on:
  push:
    tags:
      - '*'  # 推送带有版本号的标签（例如 v1.0.0）执行命令推送标记 git push ResourceLibrarySystem-Vue 0.7.25

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '22.15.0'

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build

      - name: Zip build artifacts
        run: |
          zip -r vue-build-${{ github.sha }}.zip ./dist/

      - name: Create Release
        if: startsWith(github.ref, 'refs/tags/')
        id: create_release
        uses: actions/create-release@v1 # 建议直接用 v1，它会使用最新的 v1.x.x 版本
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref_name }}
          release_name: Release ${{ github.ref_name }}
          draft: false
          prerelease: false

      - name: Upload Build Artifacts
        if: startsWith(github.ref, 'refs/tags/')
        id: upload
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./vue-build-${{ github.sha }}.zip # 路径更明确一点
          asset_name: vue-build-${{ github.ref_name }}.zip
          asset_content_type: application/zip